<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<div th:replace="header_professor :: header_professor"> </div>
  </head>
  <body>
    
       <div th:replace="menu_professor :: menu_professor"> </div>

        <main role="main">
            <div class="jumbotron bg-white">
            </div>
      
            <div class="container">
              <!-- Exemplo de linha de colunas -->
              <div class="row">
                <div th:each="materia : ${materias}" class="col-md-4">
                  <h2 th:text="${materia.nome}"></h2>
                  <p th:text="${materia.descricao}" class="altura-descricao"></p>
                  <p><a th:data-materia="${materia.id}" class="btn btn-secondary btn-aula" role="button">Ver Aulas</a></p>
                </div>
              </div>
              
              <hr>
      
            </div> <!-- /container -->
      
          </main>

      
		<div th:replace="footer_professor :: footer_professor"> </div>
		
		<script>
		// PASSA O ID DA AULA POR PARAMETRO
		
			$('.btn-aula').on('click', function(){
				id = $(this).attr('data-materia');				
				window.location.href = "/aulas?id="+id;
			});
		
		</script>
  </body>
</html>