<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<div th:replace="header_professor :: header_professor"> </div>
  </head>
  <body>
    
       <div th:replace="menu_professor :: menu_professor"> </div>

        <main role="main">
            <div class="jumbotron bg-white">
            </div>
      
            <div class="container">
              <!-- Exemplo de linha de colunas -->
              <div class="row">
                <div th:each="materia : ${materias}" class="col-md-4">
                  <h2 th:text="${materia.nome}"></h2>
                  <p th:text="${materia.descricao}" class="altura-descricao"></p>
                  <p><a class="btn btn-secondary" href="/aulas" role="button">Ver Aulas</a></p>
                </div>
              </div>
              
              <div th:each="usuario : ${usuarios}" class="col-md-4">
                  <h2 th:text="${usuario.nome}"></h2>
                </div>
                
      
              <hr>
      
            </div> <!-- /container -->
      
          </main>

      
		<div th:replace="footer_professor :: footer_professor"> </div>
  </body>
</html>