<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="header_professor :: header_professor"> </div>
  </head>
  <body>

       <div th:replace="menu_professor :: menu_professor"> </div>
        
        <main role="main" class="container">

            <div th:each="aula : ${aulas}" class=" mt-5 jumbotron">
                <h1 th:text="${aula.DataAula}">Aula #15 - 14/12/2019</h1>
                <p th:text="${aula.descricao}" class="lead"></p>
                <a class="btn btn-lg btn-primary" href="/chamada" role="button">Faça a chamada »</a>
            </div>
      
        </main>

   <div th:replace="footer_professor :: footer_professor"> </div>
   </body>
</html>