<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Sistema Escola </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com.br/docs/4.1/examples/sign-in/signin.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <style>
        body {
            padding-top: 3.5rem;
        }

        .bg-unip {
            background-color: #263a7f !important;
        }
    </style>
</head>

<body class="text-center">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-unip">
        <a class="navbar-brand" href="/menu_admin">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="criar_materia_aluno">Matéria-Aluno</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Adicionar</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="criar_professor">Professor</a>
                        <a class="dropdown-item" href="criar_materia">Matéria</a>
                        <a class="dropdown-item" href="criar_aluno">Aluno</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        
        <div class="jumbotron bg-white" style="height: 328px;">
            <div th:object="${admin}" class="container">
                <p >Bem Vindo: <a th:text="${admin.nome}"></a></p>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-4">
                        <div class="overflow-auto" style="height: 250px;">
                            <div th:each="usuario : ${usuarios}" class="jumbotron" style="height: 250px;">
                                <h1 class="lead">Professor: <a th:text="${usuario.nome}"></a></h1>
                                <p>CPF: <a th:text="${usuario.cpf}"></a></p>
                                <p>Login: <a th:text="${usuario.login}"></a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="overflow-auto">
                            <div th:each="materia : ${materias}" class="jumbotron" style="height: 250px;">
                                <h1 class="lead">Matéria: <a th:text="${materia.nome}"></a></h1>
                                <p><a>Professor: </a><a th:text="${materia.usuario.nome}"></a></p>
                                <p><a>Descrição: </a><a th:text="${materia.descricao}"></a></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="overflow-auto">
                            <div th:each="aluno : ${alunos}" class="jumbotron" style="height: 250px;">
                                <h1 class="lead">Aluno: <a th:text="${aluno.nome}"></a></h1>
                                <p>RA: <a th:text="${aluno.ra}"></a></p>
                                <p>Telefone: <a th:text="${aluno.telefone}"></a></p>
                          </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>